$yellow-color: rgb(204, 153, 0);
$white: #fff;
$black: #000;
$black-shadow: #111;
$text-color: rgb(76, 76, 76);
$quote-color: rgba(242, 244, 244, .471);
$quote-text : rgb(221, 224, 223);

  
  
  
  
  
  
  
  
  
  